body {
    margin: 0px;
  }
  header {
    position: sticky;
    top: 0px;
    padding-top: 20px;
    margin-bottom: 10px;
    background-color: #fff;
  }
  #title {
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
    font-family: "josefin sans";
  }
  #prepEB {
    font-size: 40px;
  }
  #nav {
    padding-top: 8px;
    margin-right: 10px;
    float: right;
    font-size: 25px;
    background-color: #f3f6f8;
    border-radius: 42px;
    align-content: center;
    text-align: center;
    position: relative;
    top: -10px;
    height: 40px;
    width: 48px;
    cursor: pointer;
  }
  #lnav {
    color: #000;
  }
  main {
    font-family: "lexend deca";
    background-color: #f3f6f8;
    height: 100vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  #note {
    font-size: 18px;
  }
  .btn {
    text-decoration: none;
  }
  #button1 {
    width: 240px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 15px;
    color: rgb(6, 170, 6);
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: "josefin sans";
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  #button1:hover {
    box-shadow: 2px 2px 5px rgba(82, 63, 105, 0.2);
    padding-top: 12px;
    padding-bottom: 7px;
    width: 242px;
    transition: 300ms;
  }
  #button2:hover {
    box-shadow: 2px 2px 5px rgba(82, 63, 105, 0.2);
    padding-top: 12px;
    padding-bottom: 7px;
    width: 242px;
    transition: 300ms;
  }
  #button2 {
    width: 240px;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 15px;
    color: rgb(35, 180, 216);
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-family: "josefin sans";
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  @keyframes fadeout {
    0%{opacity: 1;}
    100%{opacity: 0;};
  }
  @media only screen and (min-width: 701px) {
    .extra {
      display: none;
    }
    #button1 {
      width: 300px;
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 20px;
    }
    #button2 {
      width: 300px;
      padding-top: 15px;
      padding-bottom: 10px;
      font-size: 20px;
    }
    #button1:hover {
      box-shadow: 2px 2px 5px rgba(82, 63, 105, 0.2);
      padding-top: 17px;
      padding-bottom: 12px;
      width: 302px;
      transition: 300ms;
    }
    #button2:hover {
      box-shadow: 2px 2px 5px rgba(82, 63, 105, 0.2);
      padding-top: 17px;
      padding-bottom: 12px;
      width: 302px;
      transition: 300ms;
    }
  }
  @media only screen and (max-width: 700px) {
    #prepEB {
      font-size: 35px;
    }
    #nav {
      top: -8px;
      height: 34px;
      width: 42px;
    }
    #title {
      font-size: 15px;
    }
    #button1 {
      margin-right: auto;
      margin-left: auto;
    }
    #button1:active {
      box-shadow: 2px 2px 5px rgba(82, 63, 105, 0.2);
      padding-top: 12px;
      padding-bottom: 7px;
      width: 242px;
    }
    #button2 {
      margin-right: auto;
      margin-left: auto;
    }
    #button2:active {
      box-shadow: 2px 2px 5px rgba(82, 63, 105, 0.2);
      padding-top: 12px;
      padding-bottom: 7px;
      width: 242px;
    }
    main {
      padding-top: 30px;
    }
  }
